<footer>
    <div class="container">
        <div class="row row-footer">
            <div class="col-md-6 col-sm-12">
                <h4>Address:</h4>
                <address>
                    U5 447 Hawthorne Road<br> 
                    Bulimba, 4171<br>
                    Brisbane<br> 
                    Australia<br>
                </address>
                
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>Connect:</h4>
                <div>
                    <i class="fa fa-phone"></i>: +61 405 250 846<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:brent@brentedwardsonline.com">brent@brentedwardsonline.com</a>
                </div>
                <div>
                    <div class="nav navbar-nav" >
                        <a style="padding-left:0;" class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/1/100762840835065600319"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/nzkiaora"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/brent-edwards-online"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/brentedwardsOL"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/user/nzkiaora"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:brent@brentedwardsonline.com"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-footer">
            <p align=center>© Copyright 2017 Brent Edwards Online</p>
        </div>
    </div>
</footer>