img{
  padding: 30px;
  float: left;
}

.size {
  width: 100px;
  height: 100px;
}

.loader {
  border: 12px solid rgba(243,243,243,1);
  border-radius: 50%;
  border-top: 12px solid black;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
