<div class="container">
  <div class="row">
      <h2>Search</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input #search (keyup)="0" type="text" class="search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
	</div>

  <div class="row">
    <div *ngFor="let qual of qualificationList">
      <div class="well">
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" src="/assets/images/qualifications/{{ qual.provider.qualificationProviderImageUrl }}" width="100px" height="100px" alt="">
          </div>
          <div class="media-body">
            <h2>{{ qual.name }}</h2>
            <h3>{{ qual.provider.qualificationProviderName }}</h3>
            <a href="{{ qual.provider.qualificationProviderName }}">{{ qual.provider.qualificationProviderName }}</a>
            <p>{{ qual.description }}</p>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>