<div class="container">
  <div class="row">
      <h2>Search</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input #search (keyup)="0" type="text" class="search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
	</div>

  <div class="row">
    <div *ngFor="let qual of qualificationList">
      <app-qualification [qual]="qual"></app-qualification>
    </div>  
  </div>
</div>