<div class="container">
  <div class="well">
    <div class="media">
      <div class="media-left media-middle">
        <img class="media-object img-thumbnail" src="/assets/images/fitness/super-class.jpg" alt="My Profile Picture" width="200" height="200px">
      </div>
      <div class="media-body">
        <h1>Welcome to my fitness page</h1>
        <p>In 2002 after returning from London I decided to try my hand at fitness having grown up playing lots of football and cricket.
               I got my first job at a local YMCA and over the next few years worked towards my group fitness and fitness instructor certificates.</p>
        <p>In 2011 and 2013 I had my proudest moments in fitness taking away Group Fitness Instructor of the Year at the New Zealand Fitness Industry Awards.</p>
        <p>These days I am a passionate Zumba Fitness instructor doing a few classes a week but always on the look out for more.</p> 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Qualifications</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        
        <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
            <img src="/assets/images/fitness/fi.jpg" alt="Fitness Instructor Certificate">
            <div class="caption">
              <h3>Fitness Instructor Certificate</h3>
              <ul>
                <li>Certified to perform fitness assessments</li>
                <li>Certified to deliver personalised programs</li>
                <li>Completed September 2005</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
            <img src="/assets/images/fitness/gf.jpg" alt="Group Fitness Certificate">
            <div class="caption">
              <h3>Group Fitness Certificate</h3>
              <ul>
                <li>Certified to perform exercise to music</li>
                <li>Pump, Spin, Boxing, Circuit, Zumba</li>
                <li>Completed December 2004</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
            <img src="/assets/images/fitness/fitness-aus.jpg" alt="Fitness Australia Certificate">
            <div class="caption">
              <h3>Fitness Australia Certificate</h3>
              <ul>
                <li>Level 2 Exercise Professional</li>
                <li>Gym Instructor and Group Exercise Instructor</li>
                <li>Valid till 08 August 2018</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
            <img src="/assets/images/fitness/first-aid.jpg" alt="First Aid Certificate">
            <div class="caption">
              <h3>National First Aid Certificate</h3>
              <ul>
                <li>Certified to perform first aid</li>
                <li>Certified to administer CPR</li>
                <li>Valid till 07 August 2019</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New Zealand Fitness Industry Awards</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/FitAwardsWinner2013.jpg" alt="2013 Winner Group Exercise Award">
          <div class="caption">
            <h3>2013 Winner Group Exercise Award</h3>
            <p>The palpable group energy evident before, during and after Brent’s classes demonstrate how participants
            simply love what Brent does and how he does it!  Our specialist group exercise judges noted Brent’s technical
            expertise and communication performance was exemplary</p>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/FitAwardsFinalist2012.jpg" alt="2012 Finalist Group Exercise Award">
          <div class="caption">
            <h3>2012 Finalist Group Exercise Award</h3>
            <p>Unfortunately in 2012 despite being a finalist for both freestyle and pre-chorographed categories I was 
            unable to come away with a win. However it did give me more motivation for 2013</p>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/FitAwardsWinner2011.jpg" alt="2011 Winner Group Exercise Award">
          <div class="caption">
            <h3>2011 Winner Group Exercise Award</h3>
            <p>This is the first year that a Zumba instructor has entered the awards and Brent was one of many Zumba
               instructors to enter. Zumba instruction is unique as a group exercise format in that communication occurs
               non-verbally using body language, energy and expression: aspects our specialist judges agreed Brent 
               demonstrated at award winning level</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Zumba Fitness - Licensed To Teach</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/zumba-basic-logo.jpg" alt="Licensed to teach Zumba Basic">
          <div class="caption">
            <h3>Zumba Basic</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/zumba-toning-logo.jpg" alt="Licensed to teach Zumba Toning">
          <div class="caption">
            <h3>Zumba Toning</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <img src="/assets/images/fitness/zumba-sentao-logo.jpg" alt="Licensed to teach Zumba Sentao">
          <div class="caption">
            <h3>Zumba Sentao</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        <div class="thumbnail">
          <img src="/assets/images/fitness/zumba-gold-logo.jpg" alt="Licensed to teach Zumba Gold">
          <div class="caption">
            <h3>Zumba Gold</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="thumbnail">
          <img src="/assets/images/fitness/zumba-aqua-logo.jpg" alt="Licensed to teach Aqua Zumba">
          <div class="caption">
            <h3>Aqua Zumba</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

