<div class="container">

  <div class="row">    
    <div class="well">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object img-thumbnail" src="/assets/images/profile_pic.jpg" alt="My Profile Picture" width="200" height="200px">
        </div>
        <div class="media-body">
          <h1>Welcome To Brent Edwards Online</h1>
          <p>This is my personal site about me and the stuff I have done or can do. I started building it to demonstrate some of the web technology I can use.
            It is a bit of a work in progress but should give you a bit of an idea of some of the things I can do.</p>
          <p>Over the next few months I hope to add more technical functionality and pages. I should have enough time especially since I am looking for further permanent work. Get in touch if you want to talk technology or fitness.</p>
          <p>Thanks for visiting</p>
         </div>
       </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="well">
        <img class="card-img-top" style="width: 100%;" src="/assets/images/home/tech.jpg" alt="Technology">
        <div class="card-block">
          <h4 class="card-title">Technology</h4>
          <p class="card-text">Looking for some tech help? Check out what technology I have used on this site. Maybe I can help with your project</p>
          <a class="btn btn-primary" routerLink="../tech">Technology</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <img class="card-img-top" style="width: 100%;" src="/assets/images/home/fitness_industry_awards_logo.jpg" alt="Fitnes">
        <div class="card-block">
          <h4 class="card-title">Fitness</h4>
          <p class="card-text">If you want one of the best group fitness instructors in New Zealand then head to my fitness page to see why.</p>
          <a class="btn btn-primary" routerLink="../fitness">Fitness</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <img class="card-img-top" style="width: 100%;" src="/assets/images/home/work-history.jpg" alt="Work History">
        <div class="card-block">
          <h4 class="card-title">Work History</h4>
          <p class="card-text">Check out my previous work history and check out some of the companies and applications I have worked on. </p>
          <a class="btn btn-primary" routerLink="../work">Work History</a>
        </div>
      </div>
    </div>

  </div>
</div>

<footer></footer>