#intro_section {
 margin-top:2%;
 margin-left:0px;
 margin-right:0px;
}


#card_section{
 margin-top:2%;
}


#confusion {
    background: rgba(121,134,203,1);
    border-radius: 5px;
    padding:5px;
    border: solid #000 1px;
    color: #000;
    margin: 5px;
}

#rate-my-image {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding:5px;
    border: solid #85C2C2 1px;
    color: #85C2C2;
    margin: 5px;
}

#photo-uploader {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding:5px;
    border: solid #2ce02c 1px;
    color: #2ce02c;
}

.img-thumbnail {
    padding: 0px;
}

.well {
    background-color: rgba(0,0,0,0.7);
    background-image: none; 
    color:white;
}